@page "/fetchdata"
@using AiTelemetry.Shared
@using DevExpress.Blazor
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (DataSource == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxDataGrid Data="@DataSource">
        <DxDataGridCommandColumn></DxDataGridCommandColumn>
        <DxDataGridColumn Field=@nameof(WeatherForecast.TemperatureC) Caption="Temp. (C)"></DxDataGridColumn>
        <DxDataGridColumn Field=@nameof(WeatherForecast.TemperatureF) Caption="Temp. (F)"></DxDataGridColumn>     
    </DxDataGrid>
}


@code {
    private IEnumerable<WeatherForecast> DataSource;

    protected override async Task OnInitializedAsync()
    {
        DataSource = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }
}
